# This is an OpenAPI Specification (https://swagger.io/specification/)
# for gp-connect-prescriptions-management-fhir owned by NHS Digital (https://digital.nhs.uk/)
openapi: '3.0.0'
info:
  title: 'GP Connect Prescriptions Management FHIR API'
  version: 'Computed and injected at build time by `scripts/set_version.py`'
  description: |
    ## Overview

    This API will provide patient facing apps the ability for patients to manage their prescriptions.
    
    ### Patients will be able to:

    * Request a new instance of a repeat prescription

    * View all medications

    * Cancel a prescription request
    
    * View active prescription requests

    * Order a prescription to a one off nomination pharmacy
    
    ## Who can use this API

    This API can only be used where there is a legal basis to do so. Make sure you have a [valid use case](https://digital.nhs.uk/services/electronic-prescription-service/enabling-eps-for-your-service) before you go too far with your development.

    You must get approval before you can go live. For more information, see the 'Onboarding' section.

    ## Related APIs
    
    * [EPS (Electronic prescriptions service)](https://digital.nhs.uk/developer/api-catalogue/electronic-prescription-service-fhir#top)  - this will handle the prescribing and dispensing.

    ## API status and roadmap
    
    * Status: Alpha

    ## Service level

    This API is a bronze service, meaning it is available and supported only during business hours (8am to 6pm), Monday to Friday excluding bank holidays.

    For more details, [see service levels](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#service-levels).

    ## Technology

    This API is RESTful.

    It conforms to the FHIR global standard for health care data exchange, specifically to [FHIR R4 (v4.0.1)](https://hl7.org/fhir/r4/), except that it does not support the [capabilities](http://hl7.org/fhir/R4/http.html#capabilities) interaction.

    For example resource names are capitalised and singular for example `/MedicationRequest` not `/medicationrequests`

    ## Network access
    To be completed.
    ## Security and authorisation
    To be completed.
    ## Environments and testing
    
    |Environment|Base URL|
    |-----------|--------|
    |Sandbox|`https://sandbox.api.service.nhs.uk/gp-connect-prescriptions-management-fhir`|
    |Integration Testing|`https://int.api.service.nhs.uk/gp-connect-prescriptions-management-fhir`|
    |Production|`https://api.service.nhs.uk/gp-connect-prescriptions-management-fhir`|

    ## Onboarding
    To be completed.
  contact:
    name: 'gp-connect-prescriptions-management-fhir API Support'
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
servers:
  - url: 'https://sandbox.api.service.nhs.uk/gp-connect-prescriptions-management-fhir'
    description: Sandbox environment.
  - url: 'https://int.api.service.nhs.uk/gp-connect-prescriptions-management-fhir'
    description: Integration test environment.
  - url: 'https://api.service.nhs.uk/gp-connect-prescriptions-management-fhir'
    description: Production environment.
x-spec-publication:
  operation-order:
    - operations:
        - method: GET
          path: /FHIR/R4/Task
        - method: PUT
          path: /FHIR/R4/Task
        - method: POST
          path: /FHIR/R4/Task
        - method: GET
          path: /FHIR/R4/return-medication
tags:
  - name: Request tracking
  - name: Create new request
  - name: Cancel a request
  - name: View medication
paths: 
  /FHIR/R4/Task:
    get:
      operationId: get-task
      summary: Search for current requests to check status
      description: >
        ## Overview
        
        Use this end point in order to check the status of your current prescription request.
        
        At least one of the following parameters must be provided:

        * identifier

        * patient:identifier

        * focus:identifier

      tags: 
        - Request tracking
      parameters:
        - in: header
          name: Authorization
          description: >
            An [OAuth 2.0 bearer
            token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis).
            Required in all environments except sandbox.
          required: true
          schema:
            type: string
            format: ^Bearer\ [[:ascii:]]+$
            example: Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM
        - in: query
          name: focus:identifier
          description: |
            the identifier of the MedicationRequest itself you are searching for 
          required: false
          schema: 
            type: string
            example: D7AC09-A99968-4BA59C
        - in: query
          name: patient:identifier
          description: >
            The NHS number of the patient whose requests you arer searching for
          required: false
          schema:
            type: string
            example: '9912003489'
        - in: query
          name: identifier
          description: >
            The identifier of the Task itself
          required: false
          schema:
            type: string
            example: 'D7AC09-A99968-4BA59C'
        - in: query
          name: status
          description: >
            The type of status to search you can find the values [here](https://simplifier.net/packages/hl7.fhir.r4.core/4.0.1/files/80166)
          required: false
          schema:
            type: string
            example: 'requested'
        - in: query
          name: authored-on
          description: >
            Date the prescription was ordered, format: <eq|ge|le>yyyy-mm-dd. To use a range use authored-on=geyyyy-mm-dd&authored-on=leyyyy-mm-dd
          required: false
          schema:
            type: string
          examples:
            exact date:
              value:
                - eq2010-10-22
              description: Exact match date
            greater than or equals:
              value:
                - g2022-01-15
              description: Greater than or equals which matches 2022-01-15 or 2022-01-16
            less than or equals:
              value: 
                -  le2022-01-15
              description: Less than or equals which matches 2022-01-15 or 2022-01-14

      responses:
        '200':
          description: Successful query
          content: 
            application/fhir+json:
              schema: 
                type: object
              examples:
                example:
                  description: Successful request to view requests for medication
                  value: 
                    resourceType: Bundle
                    id: a96bb563-c86b-4021-903e-5917b927c386
                    meta: 
                      lastUpdated: 2022-11-02T14:29:57.879+00:00
                    identifier: 
                      system: https://tools.ietf.org/html/rfc4122
                      value: a3294018-6c63-4556-8797-f782d1c95480
                    type: searchset
                    entry:
                      - resource: 
                          resourceType: Task
                          id: aef77afb-7e3c-427a-8657-2c427f71a271
                          status: requested
                          intent: order
                          focus: 
                            identifier: 
                              system: https://tools.ietf.org/html/rfc412, 
                              value: b269d1d7-1acf-47bb-8b3c-e38b583d9a07
                          for: 
                            reference: Patient/999999999
                            display: Richard Smith
                          authoredOn: 2022-10-13T16:20:27+07:00
                          lastModified: 2022-10-13T16:20:27+07:00
                          reuqester: 
                            reference: Patient/999999999
                            display: Richard Smith
                          note: [Repeat of current prescription]
                      - resource:
                          resourceType: Task
                          id: fjugkd8281-4tngn-j4fn-8657-2knrkfjrgu
                          status: completed
                          intent: order
                          focus: 
                            identifier: 
                              system: https://fhir.hl7.org.uk/StructureDefinition/UKCore-MedicationRequest, 
                              value: b269d1d7-1acf-47bb-8b3c-e38b583d9a07
                          for: 
                            reference: Patient/999999999
                            display: Richard Smith
                          authoredOn: 2022-10-13T16:20:27+07:00
                          lastModified: 2022-10-13T16:20:27+07:00
                          reuqester: 
                            reference: Patient/999999999
                            display: Richard Smith
        4XX:
          description: Invalid request
          content:
            application/fhir+json:
              schema:
                type: object
                description: |
                  Outcome of an operation that does not result in a resource or bundle being returned
                properties:
                  resourceType: 
                    type: string
                    description: FHIR Resource Type
                    enum: 
                      - OperationOutcome
                    example: OperationOutcome
                  issue:
                    type: array
                    description: List of issues that have occured.
                    minItems: 1
                    items:
                      type: object
                      required: 
                        - severity
                        - code
                      properties:
                        severity:
                          type: string
                          enum:
                            - fatal
                            - error
                            - warning
                            - information
                          description: Severity of the error
                          example: error
                        code:
                          type: string
                          description: FHIR error code
                          example: invalid
                          enum: 
                            - invalid
                            - structure
                            - required
                            - value
                            - invariant
                            - security
                            - login
                            - unknown
                            - expired
                            - forbidden
                            - suppressed
                            - processing
                            - not-supported
                            - duplicate
                            - multiple-matches
                            - not-found
                            - deleted
                            - too-long
                            - code-invalid
                            - extension
                            - too-costly
                            - business-rule
                            - conflict
                            - transient
                            - lock-error
                            - no-store
                            - exception
                            - timeout
                            - incomplete
                            - throttled
                            - informational
                        details:
                          type: object
                          description: internal error code
                          properties: 
                            coding:
                              type: array
                              items: 
                                type: object
                                properties:
                                  system: 
                                    type: string
                                    description: URI of the coding system specification.
                                    example: https://fhir.nhs.uk/R4/CodeSystem/Spine-ErrorOrWarningCode
                                  version:
                                    type: string
                                    description: Version of the coding system in use
                                    example: '1'
                                  code: 
                                    type: string
                                    description: Symbol in syntax defined in system
                                    example: INVALID_VALUE
                                  display: 
                                    type: string
                                    description: Representation defined by system
                                    example: Provided value is invalid
                        expression:
                          type: string
                          description: FHIRPath of element(s) related to the error
                          example: patient.name.given
                        
    post:
      operationId: post-task
      summary: Request a new repeat prescription 
      description: >
        ## Overview 

        Use this end point to be able to create a new request for a repeat prescription or repeat dispensing prescription.

        For this we will need a bundle of a Task (with focus on the MedicationRequest), MedicationRequest and Patient resources. 

      tags: 
        - Create new request
      parameters:
        - in: header
          name: Authorization
          description: >
            An [OAuth 2.0 bearer
            token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis).


            Required in all environments except sandbox.
          required: true
          schema:
            type: string
            format: ^Bearer\ [[:ascii:]]+$
            example: Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM
      requestBody:
        required: true
        description: Successful Request.
        content: 
          application/fhir+json:
            schema:
              type: object
              description: >
                Repeat medication requested (Task with MedicationRequest focus)
            examples:
              task:
                description: |
                  A valid task
                value:
                  resourceType: Task
                  id: aef77afb-7e3c-427a-8657-2c427f71a271
                  status: requested
                  intent: order
                  focus: 
                    identifier: 
                      system: https://fhir.hl7.org.uk/StructureDefinition/UKCore-MedicationRequest, 
                      value: b269d1d7-1acf-47bb-8b3c-e38b583d9a07
                  for: 
                    reference: Patient/999999999
                    display: Richard Smith
                  authoredOn: 2022-10-13T16:20:27+07:00
                  lastModified: 2022-10-13T16:20:27+07:00
                  reuqested: 
                    reference: Patient/999999999
                    display: Richard Smith
                  note: [Repeat of current prescription]
              focus-medicationrequest:
                description: |
                  The focus:MedicationRequest
                value:
                  resourceType: MedicationRequest
                  id: b269d1d7-1acf-47bb-8b3c-e38b583d9a07
                  status: requested
                  intent: order
                  category: community
                  medication:
                    medicationCodeableConcept:
                      - coding: 
                          system: https://dmd.nhs.uk
                          code: 329526003
                          display: Apirin 300mg dispersible tablets
                  subject:
                    reference: urn:gppfsapi-patient-1234567890
                    display: Richard Smith
                  authoredOn: 2022-10-13T16:20:27+07:00
                  substitution: false
              bundle:
                description: |
                  Valid bundle containing the Task to create the request and the MedicationRequest itself.
                value: 
                  resourceType: Bundle
                  id: b269d1d7-1acf-47bb-8b3c-e38b583d9a07
                  identifier: 
                    system: https://tools.ietf.org/html/rfc4122
                    value: ad945a29-85f8-439a-b590-6789719adc16
                  type: message
                  entry: 
                    - resource:
                        resourceType: Task
                        status: requested
                        intent: order
                        focus: 
                            reference: MedicationRequest/b269d1d7-1acf-47bb-8b3c-e38b583d9a07
                        for: 
                          reference: Patient/9999999999
                          display: Richard Smith
                        authoredOn: 2022-10-13T16:20:27+07:00
                        lastModified: 2022-10-13T16:20:27+07:00
                        reuqested: 
                          reference: Patient/9999999999
                          display: Richard Smith
                        note: [Repeat of current prescription]  
                    - resource: 
                        resourceType: MedicationRequest
                        id: b269d1d7-1acf-47bb-8b3c-e38b583d9a07
                        status: requested
                        intent: order
                        category: community
                        medication:
                          medicationCodeableConcept:
                            - coding: 
                                system: https://dmd.nhs.uk
                                code: 329526003
                                display: Apirin 300mg dispersible tablets
                        subject:
                          reference: urn:gppfsapi-patient-9999999999
                          display: Richard Smith
                        authoredOn: 2022-10-13T16:20:27+07:00
                        substitution: false
      responses:
        '200':
          description: Successfully submitted.
        4XX:
          description: Invalid request
          content:
            application/fhir+json:
              schema:
                type: object
                description: |
                  Outcome that doesn't result in a successful submission of a request
                properties:
                  resourceType: 
                    type: string
                    description: FHIR Resource Type
                    enum: 
                      - OperationOutcome
                    example: OperationOutcome
                  issue:
                    type: array
                    description: List of issues that have occured.
                    minItems: 1
                    items:
                      type: object
                      required: 
                        - severity
                        - code
                      properties:
                        severity:
                          type: string
                          enum:
                            - fatal
                            - error
                            - warning
                            - information
                          description: Severity of the error
                          example: error
                        code:
                          type: string
                          description: FHIR error code
                          example: invalid
                          enum: 
                            - invalid
                            - structure
                            - required
                            - value
                            - invariant
                            - security
                            - login
                            - unknown
                            - expired
                            - forbidden
                            - suppressed
                            - processing
                            - not-supported
                            - duplicate
                            - multiple-matches
                            - not-found
                            - deleted
                            - too-long
                            - code-invalid
                            - extension
                            - too-costly
                            - business-rule
                            - conflict
                            - transient
                            - lock-error
                            - no-store
                            - exception
                            - timeout
                            - incomplete
                            - throttled
                            - informational
                        details:
                          type: object
                          description: internal error code
                          properties: 
                            coding:
                              type: array
                              items: 
                                type: object
                                properties:
                                  system: 
                                    type: string
                                    description: URI of the coding system specification.
                                    example: https://fhir.nhs.uk/R4/CodeSystem/Spine-ErrorOrWarningCode
                                  version:
                                    type: string
                                    description: Version of the coding system in use
                                    example: '1'
                                  code: 
                                    type: string
                                    description: Symbol in syntax defined in system
                                    example: INVALID_VALUE
                                  display: 
                                    type: string
                                    description: Representation defined by system
                                    example: Provided value is invalid
                        expression:
                          type: string
                          description: FHIRPath of element(s) related to the error
                          example: invalid value on medicationrequest.medication
          
          
    put:
      operationId: cancel-task
      summary: Cancel an unactioned repeat medication request
      description: >
        ## Overview 
        
        Use this endpoint to cancel a current request that has not been actioned yet, i.e is still has the status of "requested".
        
        At least one of the following parameters needs to be provided with the end point:
        
        * identifier
        
        The request body would essentially be the same task to create a request but with an updated status of cancelled
      tags: 
        - Cancel a request
      parameters:
        - in: query
          name: identifier
          description: >
            The identifier of the task to cancel
          required: true
          schema:
            type: string
            example: 'aef77afb-7e3c-427a-8657-2c427f71a271'
      requestBody:
        required: true
        description: Successful Request.
        content: 
          application/fhir+json:
            schema:
              type: object
              description: >
                Repeat medication requested (Task with MedicationRequest focus)
            examples:
              task:
                description: |
                  A valid task
                value:
                  resourceType: Task
                  id: aef77afb-7e3c-427a-8657-2c427f71a271
                  identifier:
                    system: https://tools.ietf.org/html/rfc4122
                    value: 30d65c8e-98e8-4806-b6a6-51e94733f0e9
                  status: cancelled
                  statusReason: 
                  intent: order
                  focus: 
                    reference: MedicationRequest/b269d1d7-1acf-47bb-8b3c-e38b583d9a07
                  for: 
                    reference: Patient/999999999
                    display: Richard Smith
                  authoredOn: 2022-10-13T16:20:27+07:00
                  lastModified: 2022-10-13T16:20:27+07:00
                  reuqested: 
                    reference: Patient/999999999
                    display: Richard Smith
                  note: [Repeat of current prescription]
              focus-medicationrequest:
                description: |
                  The focus:MedicationRequest
                value:
                  resourceType: MedicationRequest
                  identifier: 
                    system: https://tools.ietf.org/html/rfc4122
                    value: b269d1d7-1acf-47bb-8b3c-e38b583d9a07
                  status: requested
                  statusReason:
                    coding:
                      - system: https://fhir.nhs.uk/CodeSystem/medicationrequest-status-reason
                        code: '0005'
                        display: At the Patient's request
                  intent: order
                  category: community
                  medication:
                    medicationCodeableConcept:
                      - coding: 
                          system: https://dmd.nhs.uk
                          code: 329526003
                          display: Apirin 300mg dispersible tablets
                  subject:
                    reference: urn:gppfsapi-patient-1234567890
                    display: Richard Smith
                  authoredOn: 2022-10-13T16:20:27+07:00
                  substitution: false       
      responses:
        '200':
          description: Successful request to cancel a request
        4XX:
          description: Invalid request for a cancellation
          content:
            application/fhir+json:
              schema:
                type: object
                description: |
                  Outcome of an operation that doesnot result in a resource or bundle being returned
                properties:
                  resourceType: 
                    type: string
                    description: FHIR Resource Type
                    enum: 
                      - OperationOutcome
                    example: OperationOutcome
                  issue:
                    type: array
                    description: List of issues that have occured.
                    minItems: 1
                    items:
                      type: object
                      required: 
                        - severity
                        - code
                      properties:
                        severity:
                          type: string
                          enum:
                            - fatal
                            - error
                            - warning
                            - information
                          description: Severity of the error
                          example: error
                        code:
                          type: string
                          description: FHIR error code
                          example: not-found
                          enum: 
                            - invalid
                            - structure
                            - required
                            - value
                            - invariant
                            - security
                            - login
                            - unknown
                            - expired
                            - forbidden
                            - suppressed
                            - processing
                            - not-supported
                            - duplicate
                            - multiple-matches
                            - not-found
                            - deleted
                            - too-long
                            - code-invalid
                            - extension
                            - too-costly
                            - business-rule
                            - conflict
                            - transient
                            - lock-error
                            - no-store
                            - exception
                            - timeout
                            - incomplete
                            - throttled
                            - informational
                        details:
                          type: object
                          description: internal error code
                          properties: 
                            coding:
                              type: array
                              items: 
                                type: object
                                properties:
                                  system: 
                                    type: string
                                    description: URI of the coding system specification.
                                    example: https://fhir.nhs.uk/R4/CodeSystem/Spine-ErrorOrWarningCode
                                  version:
                                    type: string
                                    description: Version of the coding system in use
                                    example: '1'
                                  code: 
                                    type: string
                                    description: Symbol in syntax defined in system
                                    example: NOT_FOUND
                                  display: 
                                    type: string
                                    description: Representation defined by system
                                    example: Task to cancel not found
                        expression:
                          type: string
                          description: FHIRPath of element(s) related to the error
                          example: task not found
  /return-medication:
    get:
      operationId: get-medication
      summary: Search for medications relating to a patient
      description: >
        ## Overview
        
        This end point will return a bundle containing: Medication, MedicationRequests and MedicationStatements for a specific patient.


        The combination of these three can be used to infer whether a prescription is acute, repeat or repeat dispensing.


        For example, an acute medication is represented by a MedicationStatement and two MedicationRequest resources, one must have an intent of plan and the other as order. All three of these should relate to the same Medication resource.


        A repeat prescription or repeat dispensing medication will be represented similarly however, there is now a one to many relationship. There can be one MedicationRequest resource with intent of plan and it can relate to many MedicationRequests with an intent of order. However, for all MedicationRequest resources with an intent of order the authoredOn date SHOULD be the same as the related MedicationRequest with intent of plan.

        The request must include the following parameter:

        * patient:identifier

      tags: 
        - View medication
      parameters:
        - in: header
          name: Authorization
          description: >
            An [OAuth 2.0 bearer
            token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis).
            Required in all environments except sandbox.
          required: true
          schema:
            type: string
            format: ^Bearer\ [[:ascii:]]+$
            example: Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM
        - in: query
          name: patient:identifier
          description: >
            The NHS number of the patient whose requests you arer searching for
          required: false
          schema:
            type: string
            example: '9912003489'
        - in: query
          name: authored-on
          description: >
            Date the prescription was ordered, format: <eq|ge|le>yyyy-mm-dd. To use a range use authored-on=geyyyy-mm-dd&authored-on=leyyyy-mm-dd
          required: false
          schema:
            type: string
          examples:
            exact date:
              value:
                - eq2010-10-22
              description: Exact match date
            greater than or equals:
              value:
                - g2022-01-15
              description: Greater than or equals which matches 2022-01-15 or 2022-01-16
            less than or equals:
              value: 
                -  le2022-01-15
              description: Less than or equals which matches 2022-01-15 or 2022-01-14   
      responses: 
        '200':
          description: Successful request to view prescriptions
          content: 
            application/fhir+json:
              schema: 
                type: object
              examples:
                example:
                  description: Successful view of acute medication
                  value: 
                    resourceType: Bundle
                    id: 44f85d15-8744-47c2-a790-4f5e38aacdb0
                    type: collection
                    entry: 
                    - resource: 
                        resourceType: MedicationStatement
                        id: 123jkwndf-1234-dgdg-134dd-4f5e38aacdb0
                        meta:
                          - profile: https://fhir.hl7.org.uk/StructureDefinition/UKCore-MedicationStatement
                        status: active
                        medicationReference:
                          reference: Medication/8b67891-df9n-3nfu-jnvc8-18s08fvhs0
                        effectivePeriod: 
                          start: 2022-10-23
                          end: 2023-01-10
                        dateAsserted: 2020-01-12
                        basedOn: 
                          reference: MedicationRequest/7e68abae-a50a-4dd2-8445-7a2aa9936bee
                    - resource: 
                        resourceType: Medication
                        id: 8b67891-df9n-3nfu-jnvc8-18s08fvhs0
                        meta:
                          - profile: https://fhir.hl7.org.uk/StructureDefinition/UKCore-Medication
                        code: 
                           coding:
                            - system: http://snomed.info/ct
                              code: 3113111000001106
                              display: Pulmicort 100 Turbohaler
                              text: Pulmicort 100 Turbohaler
                    - resource: 
                        resourceType: MedicationRequest
                        id: 7e68abae-a50a-4dd2-8445-7a2aa9936bee
                        meta: 
                          - profile: https://fhir.hl7.org.uk/StructureDefinition/UKCore-MedicationRequest
                        identifier: 
                        status: completed
                        intent: plan
                        medicationReference:
                          reference: Medication/8b67891-df9n-3nfu-jnvc8-18s08fvhs0
                        subject: 
                          reference: Patient/04603d77-1a4e-4d63-b246-d7504f8bd833
                        authoredOn: 2018-01-06
                        requester: 
                          reference: Patient/999999999
                        substitution: false
                        courseOfTherapyType:
                          - coding:
                              system: https://fhir.hl7.org.uk/CodeSystem/UKCore-MedicationRequestCourseOfTherapy
                              code: acute
                              display: Acute Medication
                    - resource:
                        resourceType: MedicationRequest
                        id: 7e68abae-a50a-4dd2-8445-7a2aa9936bee
                        meta: 
                          - profile: https://fhir.hl7.org.uk/StructureDefinition/UKCore-MedicationRequest
                        identifier: 
                        basedOn: 
                          reference: MedicationRequest/7e68abae-a50a-4dd2-8445-7a2aa9936bee
                        status: completed
                        intent: plan
                        medicationReference:
                          reference: Medication/8b67891-df9n-3nfu-jnvc8-18s08fvhs0
                        subject: 
                          reference: Patient/04603d77-1a4e-4d63-b246-d7504f8bd833
                        authoredOn: 2018-01-06
                        requester: 
                          reference: Patient/999999999
                        substitution: false
                        courseOfTherapyType:
                          - coding:
                              system: https://fhir.hl7.org.uk/CodeSystem/UKCore-MedicationRequestCourseOfTherapy
                              code: acute
                              display: Acute Medication
                    - resource:
                        resourceType: Patient
                        id: 04603d77-1a4e-4d63-b246-d7504f8bd833
                        meta: 
                          profile: https://fhir.hl7.org.uk/StructureDefinition/UKCore-Patient
                        identifier: 
                          system: https://fhir.nhs.uk/Id/nhs-number
                          value: 999999999
                        name: 
                          - use: usual
                            family: Turner
                            given: 
                              - Ed
                            prefix: 
                              - Mr 
                        gender: male
                        birthDate: 1999-02-15
                        address: 
                          - use: home
                            line: 
                              - 123 Test Street
                              - Manchester
                            postalCode: M1TST
                        generalPractitioner:
                          - identifier:
                                system: https://fhir.nhs.uk/Id/ods-organization-code
                                value: P8888
        4XX:
          description: Invalid get request
          content:
            application/fhir+json:
              schema:
                type: object
                description: |
                  Outcome of an operation that doesnot result in a resource or bundle being returned
                properties:
                  resourceType: 
                    type: string
                    description: FHIR Resource Type
                    enum: 
                      - OperationOutcome
                    example: OperationOutcome
                  issue:
                    type: array
                    description: List of issues that have occured.
                    minItems: 1
                    items:
                      type: object
                      required: 
                        - severity
                        - code
                      properties:
                        severity:
                          type: string
                          enum:
                            - fatal
                            - error
                            - warning
                            - information
                          description: Severity of the error
                          example: error
                        code:
                          type: string
                          description: FHIR error code
                          example: not-found
                          enum: 
                            - invalid
                            - structure
                            - required
                            - value
                            - invariant
                            - security
                            - login
                            - unknown
                            - expired
                            - forbidden
                            - suppressed
                            - processing
                            - not-supported
                            - duplicate
                            - multiple-matches
                            - not-found
                            - deleted
                            - too-long
                            - code-invalid
                            - extension
                            - too-costly
                            - business-rule
                            - conflict
                            - transient
                            - lock-error
                            - no-store
                            - exception
                            - timeout
                            - incomplete
                            - throttled
                            - informational
                        details:
                          type: object
                          description: internal error code
                          properties: 
                            coding:
                              type: array
                              items: 
                                type: object
                                properties:
                                  system: 
                                    type: string
                                    description: URI of the coding system specification.
                                    example: https://fhir.nhs.uk/R4/CodeSystem/Spine-ErrorOrWarningCode
                                  version:
                                    type: string
                                    description: Version of the coding system in use
                                    example: '1'
                                  code: 
                                    type: string
                                    description: Symbol in syntax defined in system
                                    example: NOT_FOUND
                                  display: 
                                    type: string
                                    description: Representation defined by system
                                    example: Patient not found
                        expression:
                          type: string
                          description: FHIRPath of element(s) related to the error
                          example: Patient does not exist                      
                        




                        
                            

                        





                          





                

                        
                        
                      
          
          
    
      

